version: '3'
services:
    postgres:
        image: postgres:14
        ports:
            - 5432:5432
        volumes:
            - postgres_data:/var/lib/postgresql/data
            - ./docker/postgres/init:/docker-entrypoint-initdb.d
        environment:
            - "POSTGRES_PASSWORD=${POSTGRES_PASSWORD:?err}"
            - "USER_PASSWORD=${USER_DB_PASSWORD:?err}"

    redis:
        image: redis:6
        ports:
            - 6379:6379

    migrations:
        profiles:
            - manual
        depends_on:
            - postgres
        image: migrate/migrate
        command: -path=/migrations -verbose -database postgres://postgres:$POSTGRES_PASSWORD@postgres:5432/drakoapi?sslmode=disable up
        volumes:
            - ./docker/postgres/migrations:/migrations

volumes:
    postgres_data: {}
